.logohead {
  height: 5rem;
  width: 14rem;
}
.show-modal {
  opacity: 1 !important;
  display: block !important;
  transform: scale(1);
  background-color: rgba(0, 0, 0, 0.4);
}

.i-dropdown {
  display: inline-flex;

  &__label {
    font-weight: 700;
  }

  &__pane {
    padding-left: 25px;
  }
}

.show-menu-user {
  opacity: 1 !important;
  visibility: visible !important;
  transform: translate3d(0,1px,0)!important;
}
