.i {
  &-alert {
    background-color: #fff;
    border: solid 1px $color-gray;
    color: #000;
    display: block;
    line-height: 20px;
    @include border-status;
    padding: 12px 18px 12px 18px;
    position: relative;

    &.-primary {
      .i-alert__icon {
        color: $color-primary;
      }
    }

    &.-success {
      .i-alert__icon {
        color: $color-success;
      }
    }

    &.-danger {
      .i-alert__icon {
        color: $color-danger;
      }
    }

    &.-warning {
      .i-alert__icon {
        color: $color-warning;
      }
    }

    &.-info {
      .i-alert__icon {
        color: $color-info;
      }
    }

    &.-bg {
      background: lighten($color-gray, 42%);

      &.-primary {
        background: lighten($color-primary, 28%);
        color: darken($color-primary, 15%);
      }

      &.-success {
        background: lighten($color-success, 31%);
        color: darken($color-success, 15%);
      }

      &.-danger {
        background: lighten($color-danger, 31%);
        color: darken($color-danger, 15%);
      }

      &.-warning {
        background: lighten($color-warning, 40%);
        color: darken($color-warning, 15%);
      }

      &.-info {
        background: lighten($color-info, 50%);
        color: darken($color-info, 15%);
      }
    }

    &__icon {
      font-size: 16px;
      line-height: 20px;
      position: absolute;
      text-align: center;
      top: 12px;
      width: 16px;
    }

    &.-icon-left {
      padding-left: 48px;

      .i-alert__icon {
        left: 18px;
      }
    }

    &.-icon-right {
      padding-right: 48px;

      .i-alert__icon {
        right: 18px;
      }
    }

    &.-fixed {
      border-radius: 0;
      left: 0;
      padding-left: 200px;
      padding-right: 200px;
      position: fixed;
      right: 0;
      text-align: center;
      top: 70px;
      z-index: 3;

      @include media(max, $lg) {
        padding-left: 15px;
        padding-right: 15px;
      }

      &.-top-0 {
        top: 0;
      }
    }
  }
}
