.i-text {
  color: $color-text;
  @include color_status;

  &.-link {
    text-decoration: underline;

    &:hover {
      color: $color-primary;
    }
  }

  &.-text-link {
    text-decoration: underline;

    &:not(.hover-default):hover {
      color: $color-primary;
    }

    &.-primary:hover {
      color: $color-link;
    }
  }
}

.i-badge {
  background: #f2f2f2;
  border: 1px solid #ccc;
  border-radius: 17px;
  display: inline-block;
  padding: 5px 38px 5px 18px;
  position: relative;
  vertical-align: middle;

  &__icon {
    color: #a3a3a3;
    font-size: 16px;
    line-height: 20px;
    margin-left: 10px;
    position: absolute;
    right: 10px;
    top: 5px;

    &:hover {
      color: $color-danger;
      cursor: pointer;
    }
  }

  &.-no-icon {
    padding-right: 18px;
  }
}

.i-label {
  background-color: #ffff;
  cursor: pointer;
  font-size: .85714286rem;
  display: inline-block;
  font-weight: 700;
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }

  &.-circular {
    min-width: 2em;
    min-height: 2em;
    padding: .5em!important;
    line-height: 1em;
    text-align: center;
    border-radius: 500rem;
  }

  @include bg_status;
}
