.i-breadcrumb {
  display: inline-block;
  margin: 0 0;
  vertical-align: middle;
  font-size: 1rem;
  text-transform: capitalize;
  font-size: 14px;

  &.-section {
    display: inline-block;
    margin: 0;
    padding: 0;
  }

  a {
    color: #4183c4;
    text-decoration: none;
    background-color: transparent;

    .section {
      cursor: pointer;
    }
  }

  &.-icon-divider {
    font-size: .85714286em;
    vertical-align: baseline;
    display: inline-block;
    opacity: .7;
    margin: 0 .21428571rem 0;
    color: rgba(0,0,0,.4);
    width: 1.18em;
    height: 1em;
    font-family: Icons;
    font-style: normal;
    font-weight: 400;
    text-decoration: inherit;
    text-align: center;
    backface-visibility: hidden;

    &::before {
      content: "\003E";
      background: 0 0;
    }
  }
}
