%standard-btn {
  background-color: #fff;
  border: solid 1px transparent;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: sans-serif;
  font-size: 14px;
  letter-spacing: 0.015em;
  line-height: 20px;
  min-height: 40px;
  padding-bottom: 9px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 9px;
  position: relative;
  text-transform: uppercase;
  transition: all .2s ease-in-out;
  vertical-align: middle;

  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    vertical-align: middle;
  }

  &:focus,
  &:hover {
    outline: none;
  }

  &:not([tabindex='-1']):focus {
    box-shadow: 0 1px 6px 0 rgba(#000, 0.2);
  }

  &.-un-focus:focus {
    box-shadow: none;
  }

  &.-block {
    display: block;
    text-align: center;
    width: 100%;
  }

  &.-circle {
    padding-left: 2px;
    padding-right: 2px;
    width: 40px;
  }

  &.-small-padding {
    padding-left: 10px;
    padding-right: 10px;
  }

  @include bg_status;

  &.-border {
    background: #fff;
    border: solid 1px;
    color: $color-sub-text;
    @include color_status;
  }

  &::after {
    background: rgba(#fff, 1);
    border-radius: inherit;
    bottom: -1px;
    content: '';
    left: -1px;
    opacity: 0;
    position: absolute;
    right: -1px;
    top: -1px;
    // z-index: -1;
    transition: inherit;
  }

  &:hover {
    &::after {
      opacity: 0.35;
    }
  }

  &.-disabled,
  &[disabled] {
    pointer-events: none;

    &.pointer-events-normal {
      pointer-events: auto;

      &:hover {
        &::after {
          opacity: 0.6;
        }
      }
    }

    &::after {
      opacity: 0.6;
    }
  }
}

.i {
  &-btn {
    @extend %standard-btn;
  }

  &-btn-icon {
    background: none;
    border: none;
    border-radius: 50%;
    color: $color-sub-text;
    display: inline-block;
    font-size: 16px;
    height: 36px;
    line-height: 37px;
    outline: none;
    padding: 0;
    text-align: center;
    transition: all .2s ease-in-out;
    width: 36px;

    &:focus {
      outline: none;
    }

    &:hover {
      background: #f1f1f1;
    }

    &.active {
      @include color_status;
    }

    &.-disabled,
    &[disabled] {
      opacity: 0.4;
      pointer-events: none;
    }
  }
}

input.i-btn {

  &:hover {
    opacity: 0.65;
  }

  &.-disabled,
  &[disabled] {
    opacity: 0.4;
    pointer-events: none;

    &.pointer-events-normal {
      pointer-events: auto;

      &:hover {
        opacity: 0.4;
      }
    }
  }
}

a.i-btn {
  @extend %standard-btn;

  &:hover {
    text-decoration: none;

    &::after {
      opacity: 0.35;
    }

    &:not([href]),
    &[href] {
      color: #fff;

      &.-border {
        color: $color-sub-text;
        @include color_status;
      }
    }
  }
}
