.page-title {
  font-size: 20px;
  font-weight: bold;
}

.page-desc {
  color: $color-sub-text;
  font-size: 16px;
}

.datepicker_input-wrap {
  position: relative;
}

.daterangepicker {
  z-index: 8;
}

.i-bold {
  font-weight: bold;
}
