.icon {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  vertical-align: middle;

  &-trash {
    background-image: url('../../assets/icons/trash.svg');
    height: 18px;
    width: 18px;
  }

  &-eye {
    background-image: url('../../assets/icons/eye.svg');
    height: 18px;
    width: 18px;
  }

  &-edit {
    background-image: url('../../assets/icons/edit.svg');
    height: 20px;
    width: 20px;

    &.-sm {
      height: 18px;
      width: 18px;
    }
  }

  &-logo-circle {
    background-image: url('../../assets/icons/circle.svg');
    height: 20px;
    width: 20px;
  }

  &-download-file {
    background-image: url('../../assets/icons/download-file.svg');
    height: 15px;
    width: 15px;
  }

  &-360 {
    background-image: url('../../assets/icons/icon-360.svg');
    height: 55px;
    width: 55px;
  }

  &-logo {
    background-image: url('../../assets/icons/logo.svg');
    height: 40px;
    width: 40px;
  }
  &-logodefault {
    background-image: url('../../assets/icons/logo-login.png');
    height: 40px;
    width: 180px;
  }

  &-heritage {
    background-image: url('../../assets/icons/heritage.svg');
    height: 20px;
    width: 20px;
  }

  &-unesco {
    background-image: url('../../assets/icons/unesco.svg');
    width: 70px;
    height: 50px;
  }

  &-map-vn-special {
    background-image: url('../../assets/icons/map-vn-special.svg');
    width: 70px;
    height: 50px;
  }

  &-map-vn {
    background-image: url('../../assets/icons/map-vn.svg');
    width: 70px;
    height: 50px;
  }

  &-hanoi {
    background-image: url('../../assets/icons/hanoi.svg');
    width: 70px;
    height: 50px;
  }

  &-intangible-heritage {
    background-image: url('../../assets/icons/intangible-heritage.svg');
    width: 100%;
    height: 100%;
  }

  &-physical-heritage {
    background-image: url('../../assets/icons/physical-heritage.svg');
    width: 100%;
    height: 100%;
  }

  &-file-pdf-regular {
    background-image: url('../../assets/icons/file-pdf-regular.svg');
    width: 100%;
    height: 100%;
  }

  &-file-images-solid {
    background-image: url('../../assets/icons/images-solid.svg');
    width: 100%;
    height: 100%;
  }

  &-film-solid {
    background-image: url('../../assets/icons/film-solid.svg');
    width: 100%;
    height: 100%;
  }

  &-vr360 {
    background-image: url('../../assets/icons/vr360.svg');
    width: 100%;
    height: 100%;
  }

  &-close {
    background-image: url('../../assets/icons/close.svg');
    height: 20px;
    width: 20px;
  }

  &-search {
    background-image: url('../../assets/icons/search.svg');
    height: 22px;
    width: 22px;
  }

  &-icon-360 {
    background-image: url('../../assets/icons/icon-360.svg');
    height: 55px;
    width: 55px;
  }

  &-3d {
    background-image: url('../../assets/icons/icon-3d.svg');
    height: 50px;
    width: 50px;
  }

  &-sound {
    background-image: url('../../assets/icons/icon-sound.svg');
    height: 55px;
    width: 55px;
  }

  &-diahinh {
    background-image: url('../../assets/icons/icon-diahinh.svg');
    height: 55px;
    width: 55px;
  }

  &-hinhanh {
    background-image: url('../../assets/icons/icon-hinhanh.svg');
    height: 50px;
    width: 50px;
  }

  &-tailieu {
    background-image: url('../../assets/icons/icon-tailieu.svg');
    height: 55px;
    width: 55px;
  }

  &-video {
    background-image: url('../../assets/icons/icon-video.svg');
    height: 55px;
    width: 55px;
  }
}
