.i-pagination {
  display: flex;
  justify-content: center;

  &__item {
    align-items: center;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: 19px;
    color: $color-text;
    display: flex;
    font-size: 13px;
    height: 38px;
    justify-content: center;
    margin: 0 4px;
    overflow: hidden;
    width: 38px;
    cursor: pointer;

    a {
      align-items: center;
      color: inherit;
      display: flex;
      height: 100%;
      justify-content: center;
      width: 100%;
    }

    &.-text {
      width: 60px;
    }

    &:hover {
      a {
        background-color: #f2f2f2;
      }
    }

    &.active {
      color: $color-white;
      background-color: $color-brown;
      pointer-events: none;
    }
  }

  @include media(max, $sm) {

    &__item {
      font-size: 10px;
      height: 28px;
      margin: 0 1px;
      width: 28px;

      &.-text {
        width: 40px;
      }
    }
  }
}
