.i {
  &-popup {

    &:not(.modal-2nd) {
      padding-right: 0 !important;
    }

    &__content {
      position: relative;
    }

    &__title {
      font-size: 18px;
    }

    &__info {
      color: #999;
      margin-top: 10px;
    }

    &__desc {
      color: #555;
      margin-bottom: 25px;
      margin-top: 20px;

      p {
        margin-bottom: 5px;
      }
    }

    &__btn {
      min-width: 100px;

      @include media(max, $sm) {
        &.mw-sm-auto {
          min-width: auto;
        }
      }
    }

    &__close {
      background: none;
      border: none;
      font-size: 18px;
      height: 25px;
      line-height: 1;
      outline: none;
      padding: 0;
      position: absolute;
      right: 16px;
      top: 20px;
      transition: all .2s ease-in-out;
      width: 25px;
      z-index: 1;

      &:hover,
      &:focus {
        outline: none;
      }

      @media (hover: hover) {
        &:hover {
          opacity: 0.7;
        }
      }

      @include media(max, $lg) {
        color: #ccc;
      }
    }

    &.fade {
      .modal-dialog {
        transform: translate3d(0, 0, 0);
        transition-duration: 0.1s;
      }
    }

    .modal-dialog {
      -webkit-overflow-scrolling: touch;
      align-items: center;
      display: flex;
      height: 100%;
      margin: auto;
      max-width: none;
      overflow: auto;
      padding: 20px 15px 35px 15px;
      pointer-events: none;
      width: 100%;
    }

    .modal-content {
      border: none;
      border-radius: 10px;
      margin: auto;
      max-width: 550px;
      padding: 30px 30px 30px 30px;
      pointer-events: all;
      @include media(max, $md) {
        border-radius: 10px;
        padding: 20px 20px 20px 20px;
      }

      &.-small {
        max-width: 330px;
      }
    }

    &.modal-2nd {
      z-index: 1060;
    }
  }
}

.modal-backdrop ~ .modal-backdrop {
  z-index: 1050;
}

#user-popup.is-IOS .modal-dialog {
  height: auto;
}
