.i-table {
  width: 100%;

  &-wrap {
    @include media(max, $lg) {
      overflow-x: auto;
      overflow-y: hidden;

      .i-table {
        min-width: 600px;

        th,
        td {
          padding-left: 8px;
          padding-right: 8px;
        }
      }
    }
  }

  th {
    color: $color-text;
    font-weight: normal;
    padding: 15px 10px;
    white-space: nowrap;
    background-color: $color-blue-light;
  }

  td {
    color: $color-text;
    cursor: default;
    padding: 15px 10px;
    position: relative;
    transition: all .2s ease-in-out;
    z-index: 0;

    &::after {
      content: '';
      @include absolute_(5px, 0, 6px, 0);
      pointer-events: none;
      transition: inherit;
      z-index: -1;
    }

    &:first-child::after {
      border-radius: 3px 0 0 3px;
    }

    &:last-child::after {
      border-radius: 0 3px 3px 0;
    }
  }

  th,
  td {
    &:first-child {
      padding-left: 0;
      padding-right: 0;
      text-align: center;
      width: 50px;

      @include media(max, $sm) {
        width: 45px;
      }
    }

    &:last-child {
      text-align: center;
    }


  }

  tr:nth-child(2n) td {
    padding-bottom: 12px;
    padding-top: 12px;

    &::after {
      background-color: $color-blue-light;
      bottom: 3px;
      top: 2px;
    }
  }

  tr:hover td {

    &::after {
      background-color: #e8f0f6;
    }
  }
}
