body {
  color: $color-text;
  font-family: $font-family-primary;
  font-size: 14px;
  line-height: 1.5;
  word-break: break-word;
  word-wrap: break-word;
}

.smooth {
  transition: all .2s ease-in-out;
}

.hover-default:hover {
  opacity: 0.65;
}

.flex-1 {
  flex: 1;
}

.scrollbar {
  height: 460px;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background: $color-brown;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: $color-brown;
  }
}

.uppercase {
  text-transform: uppercase;
}

.i-border-down {
  border-bottom: 1px solid $color-boder-bottom;
}

.min-table {
  min-height: 300px;
}

.search {
  .i-group {
    width: 90px;
  }

  display: inline-flex;

  p {
    line-height: 35px;
  }
}

.filter {
  .i-group {
    width: 200px;
  }

  display: inline-flex;

  p {
    line-height: 35px;
  }
}
.react-date-picker__wrapper {
  border: none !important;
}

.padding0{
  padding: 0 !important;
}

.margin0{
  margin: 0 !important;
}

#menu-profile{
  position: absolute;
  top: 60px;
  z-index: 1000;
}

.custom-ui-confirm {
  text-align: center;
  width: 500px;
  padding: 40px;
  background: #28bae6;
  color: #fff;

  .title {
    color: #fff;
  }

  .content {
    color: #fff;
    font-weight: 500;
  }

  button {
    width: 160px;
    padding: 10px;
    border: 1px solid #fff;
    margin: 10px;
    cursor: pointer;
    background: none;
    color: #fff;
    font-size: 14px;
  }
}

.bt-disabled {
  pointer-events: none;
}

.cursor-pointer {
  cursor: pointer
}
