$utilities: '0',
'10',
'13',
'15',
'20',
'25',
'30',
'35',
'40',
'45',
'50',
'60';

$breakpoints: 'xl' $xl, 'lg' $lg, 'md' $md, 'sm' $sm;

@each $i in $utilities {
  @include set-utilities($i);
  @include set-utilities-negative($i);
}

@each $i in $utilities {
  @each $b in $breakpoints {
    @include media(max, nth($b, 2)) {
      @include set-utilities($i, #{nth($b, 1)});
    }

    @include media(max, nth($b, 2)) {
      @include set-utilities-negative($i, #{nth($b, 1)});
    }
  }
}

$fonts: '10',
'11',
'12',
'13',
'14',
'15',
'16',
'17',
'18';

@each $i in $fonts {
  .font-#{$i} {
    font-size: #{$i}px;
  }
}

.pt-015 {
  padding-top: 0.15em;
}
