@import '../../scss/application.scss';

.list-profile {
  .folder {
    height: 120px;
    display: inline-flex;
    border: 1px solid #17a2b8;
    border-radius: 5px;
    min-width: 30%;
    &:hover {
      background-color: $color-brown;
    }

    .item {
      height: 40px;
      width: 40px;

    }
  }

  .min-height {
    min-height: 510px;
  }


}

.detail-profile {
  .min-height {
    min-height: 510px;
  }

  .file-vr {
    display: inline-flex;
    width: 100%;

    &__content {
      font-weight: 500;
    }

    &:hover {
      background-color: #F2F2F2;
    }

    i {
      margin-top: 5px;
    }
  }

  .i-table {
    th {
      position: sticky;
      top: 0;
      z-index: 2;
    }
  }
}

.filepond--item {
  width: calc(33.33% - 0.5em);
}

.filepond--credits {
  display: none;
}

// .active {
//   background-color: #F2F2F2;
// }

.filepond--panel-root {
  background-color: white !important;
}

.filepond--drop-label {
  justify-content: start !important;
  border: 1px solid #C59468 !important;
  min-height: 2.75em !important;
  border-radius: 5px;
  width: 100px;
  margin-left: 15px !important;
  margin-top: 5px !important;

  label {
    margin-left: 15px !important;
  }
}

.filepond--list-scroller {
  transform: translate3d(0px, 35px, 0px) !important;
}