@import '../../scss/application.scss';

.show-modal {
  opacity: 1 !important;
  display: block;
  transform: scale(1);
  background-color: rgba(0, 0, 0, 0.4);
}

.i-dropdown {
  display: inline-flex;

  &__label {
    font-weight: 700;
  }

  &__pane {
    padding-left: 25px;
  }
}

.show-user {
  display: block;
  opacity: 1 !important;
  background-color: rgba(0, 0, 0, 0.4);
}
.edit-user {
  border-top-left-radius: 0.2857rem;
  border-top-right-radius: 0.2857rem;
  .card-edit {
    background-color: #ffffff;
  }
  .box-save {
    background: #e14eca;
    background-image: linear-gradient(to bottom left, #e14eca, #ba54f5, #e14eca);
    background-size: 210% 210%;
    background-position: top right;
    transition: all 0.15s ease;
    box-shadow: none;
    border-radius: 5px;
    height: 2.2rem;
    width: 10rem;
    .title {
      color: #ffffff;
    }
  }

  .box-preview {
    background: #58e14e;
    background-image: linear-gradient(to bottom left, #4ee15d, #58e14e, #1ed077);
    background-size: 210% 210%;
    background-position: top right;
    transition: all 0.15s ease;
    box-shadow: none;
    border-radius: 5px;
    height: 2.2rem;
    width: 10rem;
    .title {
      color: #ffffff;
    }
  }

  .box-update {
    background: #1a79bd;
    background-image: linear-gradient(to bottom left, #1a79bd, #1a79bd, #1a79bd);
    background-size: 210% 210%;
    background-position: top right;
    transition: all 0.15s ease;
    box-shadow: none;
    border-radius: 5px;
    height: 2.2rem;
    width: 10rem;
    .title {
      color: #ffffff;
    }
  }

  .border-none {
    border: none;
  }

  .input-container {
    width: 40%;
    .label {
      margin-bottom: 10px;
    }
    .name-box {
      background: #ffffff;
      border-color: rgba(29, 37, 59, 0.3);
      border-radius: 8px;
      width: 100%;
      padding: 10px 18px 10px 18px;
    }
    .username-box {
      background: #ced4da;
      border-color: rgba(29, 37, 59, 0.3);
      border-radius: 8px;
      width: 100%;
      padding: 10px 18px 10px 18px;
    }

    .address-box {
      background: #ffffff;
      border-color: rgba(29, 37, 59, 0.3);
      border-radius: 8px;
      width: 100%;
      padding: 10px 18px 10px 18px;
    }

    .introduct-box {
      background: #ffffff;
      border-color: rgba(29, 37, 59, 0.3);
      border-radius: 8px;
      width: 100%;
      height: 6rem;
      padding: 10px 18px 10px 18px;
    }
  }
  .user-view{
    border-left: .25rem solid #f6c23e !important;
    background-color: #ffffff;
    width: 100%;
    .author {
      text-align: center;
      text-transform: none;
      margin-top: 25px;

      .avatar {
        width: 150px;
        height: 150px;
        clip-path: circle(75px at 50% 50%);
      }
    }
  }

  .bg-title {
    background-color: #EEF2F6;
  }
}

.preview-new {
  min-height: 930px;
}

.filepond--credits {
  display: none;
}

.ck.ck-editor__editable_inline{
  height: 500px !important;
}

strong {
  font-weight: bold !important;
}