.filepond--item {
  width: calc(33.33% - 0.5em);
}

.filepond--credits {
  display: none;
}

.filepond--panel-root {
  background-color: white !important;
}

.filepond--drop-label {
  justify-content: start !important;
  border: 1px solid #C59468 !important;
  min-height: 2.75em !important;
  border-radius: 5px;
  width: 100px;
  margin-left: 15px !important;
  margin-top: 5px !important;

  label {
    margin-left: 15px !important;
  }
}

.filepond--list-scroller {
  transform: translate3d(0px, 35px, 0px) !important;
}

.form-heritage {
  margin-left: -8px;
}
