.homes{


    .count-heritage {
        background-color: #ffffff;
        margin-bottom: 2rem;
        border-top-left-radius: 0.2857rem;
        border-top-right-radius: 0.2857rem;
        height: 15rem;

    }

    

    .box-count {
        background-color: #ffffff;
        border-left: .25rem solid #f6c23e !important;
        border-top-right-radius: 0.2857rem;
        height: 21.5rem;
        text-align: center;
        .table {
            height: 8rem;

        }
    }
    .count-content {
        background-color: #ffffff;
        height: 25rem;
    }
    
    .system-box {
        background-color:#ffffff;
        height: 25rem;
        border-top-left-radius: 0.2857rem;
        border-top-right-radius: 0.2857rem;
        box-sizing: border-box;
    }
    
    .table-box {
        width: 100%;
        background-color: #ffffff;
        height: 22rem;
        border-left: .25rem solid #bff63e !important;
        border-top-right-radius: 0.2857rem;
    }
    
}

@media (max-width: 900px){
   .homes {
       display: block;
       clear: both;

       .box-count {
           height: 25rem;
           .table {
               height: 2rem;
           }
       }

       .system-box {
           margin-bottom: 2rem;
       }
       .table-box {
           margin-bottom: 2rem;
           height: 25rem;
       }
   }
}

@media (min-width: 1900px) {

    .homes {
        display: block;
        clear: both;
    
        .count-heritage {
            height: 25rem;
        }
        .box-count {
            height: 31.5rem;

            .table {
                height: 25rem;
            }

        }
        .table-box {
            height: 31.5rem;

            .table {
                height: 25rem;
            }
        }

    }
}

