@mixin media($val, $size) {
  @if $val == max {
    @media all and (max-width: $size - 1px) {
      @content;
    }
  }
  @if $val == min {
    @media all and (min-width: $size) {
      @content;
    }
  }
}

@mixin IE {
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    @content;
  }
}

@mixin Edge {
  @supports (-ms-accelerator: true) {
    @content;
  }

  @supports (-ms-ime-align: auto) {
    @content;
  }
}

@mixin hover {
  @media (hover: hover) {
    &:hover {
      @content;
    }
  }

  @include IE {
    &:hover {
      @content;
    }
  }
}

@mixin placeholder {
  &::-webkit-input-placeholder {
    @content;
  }

  &:-moz-placeholder {
    @content;
  }

  &::-moz-placeholder {
    @content;
  }

  &:-ms-input-placeholder {
    @content;
  }
}

@mixin set-line($line, $lineHeight) {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $line;
  display: -webkit-box;
  height: calc(#{$lineHeight} * #{$line});
  line-height: $lineHeight;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin set-lineMax($line, $lineHeight) {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $line;
  display: -webkit-box;
  line-height: $lineHeight;
  max-height: calc(#{$lineHeight} * #{$line});
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin img-center($width, $height) {
  height: auto;
  margin: auto;
  max-height: $height;
  max-width: $width;
  width: auto;

  @include IE {
    margin: 0;
  }
}

@mixin absolute_($t, $r, $b, $l) {
  bottom: $b;
  left: $l;
  position: absolute;
  right: $r;
  top: $t;
}

@mixin absolute($val) {
  @include absolute_($val, $val, $val, $val);
}

@mixin fixed_($t, $r, $b, $l) {
  bottom: $b;
  left: $l;
  position: fixed;
  right: $r;
  top: $t;
}

@mixin fixed($val) {
  @include fixed_($val, $val, $val, $val);
}

$media: 'sm' '576px',
'md' '768px',
'lg' '992px',
'xl' '1200px';

%col_bs {
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  width: 100%;
}

@mixin col_bs($val) {
  -ms-flex: 0 0 $val;
  -webkit-box-flex: 0;
  flex: 0 0 $val;
  max-width: $val;
}

@mixin make-col($name, $val) {
  .col-#{$name} {
    @extend %col_bs;
    @include col_bs($val);
  }
  @each $i in $media {
    .col-#{nth($i, 1)}-#{$name} {
      @extend %col_bs;
    }
    @media (min-width: #{nth($i, 2)}) {
      .col-#{nth($i, 1)}-#{$name} {
        @include col_bs($val);
      }
    }
  }
}

@mixin gird-gutter($val) {
  .gutter-#{$val} {
    margin-left: -#{$val/2}px;
    margin-right: -#{$val/2}px;

    & > [class*='col-'],
    & > .col,
    & > [class^='col-'] {
      padding-left: #{$val/2}px;
      padding-right: #{$val/2}px;
    }
  }
}

// utilities
@mixin set-utilities($x, $grid: '') {

  @if $grid != '' {
    $grid: -#{$grid};
  }

  $pre: 'px';
  @if $x == 0 {
    $pre: '';
  }

  .mt#{$grid}-#{$x} {
    margin-top: #{$x}#{$pre} !important;
  }

  .mr#{$grid}-#{$x} {
    margin-right: #{$x}#{$pre} !important;
  }

  .mb#{$grid}-#{$x} {
    margin-bottom: #{$x}#{$pre} !important;
  }

  .ml#{$grid}-#{$x} {
    margin-left: #{$x}#{$pre} !important;
  }

  .pt#{$grid}-#{$x} {
    padding-top: #{$x}#{$pre} !important;
  }

  .pr#{$grid}-#{$x} {
    padding-right: #{$x}#{$pre} !important;
  }

  .pb#{$grid}-#{$x} {
    padding-bottom: #{$x}#{$pre} !important;
  }

  .pl#{$grid}-#{$x} {
    padding-left: #{$x}#{$pre} !important;
  }

  .lh#{$grid}-#{$x} {
    line-height: #{$x}#{$pre};
  }
}

@mixin set-utilities-negative($x, $grid: '') {

  @if $grid != '' {
    $grid: -#{$grid};
  }

  .mt#{$grid}-n#{$x} {
    margin-top: -#{$x}px !important;
  }

  .mr#{$grid}-n#{$x} {
    margin-right: -#{$x}px !important;
  }

  .mb#{$grid}-n#{$x} {
    margin-bottom: -#{$x}px !important;
  }

  .ml#{$grid}-n#{$x} {
    margin-left: -#{$x}px !important;
  }
}

@mixin color_status {
  &.-primary {
    color: $color-primary;
  }

  &.-success {
    color: $color-success;
  }

  &.-danger {
    color: $color-danger;
  }

  &.-warning {
    color: $color-warning;
  }

  &.-info {
    color: $color-info;
  }

  &.-brown {
    border-color: $color-brown;
  }
}

@mixin bg_status {
  &.-primary {
    background-color: $color-primary;
  }

  &.-success {
    background-color: $color-success;
  }

  &.-danger {
    background-color: $color-danger;
  }

  &.-warning {
    background-color: $color-warning;
  }

  &.-info {
    background-color: $color-info;
  }

  &.-brown {
    background-color: $color-brown;
  }

  &.-white {
    background-color: $color-white;
  }

  &.-blue-light {
    background-color: $color-blue-light;
  }
}

@mixin border_status {
  &.-primary {
    border-color: $color-primary;
  }

  &.-success {
    border-color: $color-success;
  }

  &.-danger {
    border-color: $color-danger;
  }

  &.-warning {
    border-color: $color-warning;
  }

  &.-info {
    border-color: $color-info;
  }

  &.-brown {
    border-color: $color-brown;
  }
}
