$font-family-primary: Helvetica Neue,Helvetica,Arial,sans-serif;

$color-primary: #88b3d3;
$color-info: #17a2b8;
$color-danger: #eb6877;
$color-warning: #ffc107;
$color-success: #6dd0b0;
$color-white: #ffff;
$color-text: #000;
$color-sub-text: #707070;
$color-brown: #C59468;
$color-background: #EFF3FA;
$color-blue-light: #EEF2F6;
$color-gray: #999;
$color-gray-light: #a3a3a3;
$color-link: #0f0aff;
$color-boder-bottom: #707070;

$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$hd: 1366px;
$hdPlus: 1440px;
$uxga: 1600px;

$sidebar-width: 200px;
$header-height: 70px;
