
.area-show{
	.introduction {
		border: 1px solid #7070707a;
		border-radius: 13px;
		margin-left: 1px;
		margin-right: 1px;
	}

	.header {
		background-color: #eef2f6;
	}

	.info {
		margin-top: -9px;
	}
}

.edit-user {
  border-top-left-radius: 0.2857rem;
  border-top-right-radius: 0.2857rem;
  .card-edit {
    background-color: #ffffff;
  }

  .border-none {
    border: none;
  }

  .user-view{
    background-color: #ffffff;
    width: 100%;
    .author {
      text-align: center;
      text-transform: none;
      margin-top: 25px;
    }
  }
}
