@import '../../../scss/application.scss';

.login {
  background:url(../../../assets/resources/image/banner.jpeg);
  width:100%;
  height:100%;
  position:fixed;
  top:0px;
  left:0px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  &_container {
    background-color: white;
    border: 1px solid #c59468;
    border-radius: 25px;
    height: 500px;
    width: 800px;
    position: relative;
    padding: 26px 26px 6px 26px;
    margin: auto;
    margin-top: 10%;
  }


  .login-border-right {
    border-right: 1px solid #c59468;
    max-height: 70%;
  }

  &__logo {
    margin: 0 auto 40px;
    width: 220px;

    img {
      width: 100%;
    }

    &:hover {
      opacity: 0.65;
    }

    @include media(max, $md) {
      margin-bottom: 25px;
    }
  }

  &__title {
    margin-bottom: 40px;
    text-align: center;

    @include media(max, $md) {
      margin-bottom: 25px;
    }
  }

  &__input {
    margin-bottom: 15px;

    .i-input {
      color: $color-text;
      font-weight: bold;
      width: 70% !important;
      position: relative;
      margin: auto;
    }
    .i-label {
      margin-left: 60px;
    }
  }

  .title-support {
    font-weight: bold;
    color: #c59468;
  }

  &__btn {
    margin-bottom: 40px;
    margin-top: 50px;
    border-radius: 25px;

    @include media(max, $md) {
      margin-bottom: 25px;
      margin-top: 25px;
    }
  }
}


@media (max-width: 900px){
  .login {
    display: table;
    clear: both;
    

    .login__logo {
      width: 10rem;
    }

    &_container {
      width: 90%;
      height: 30%;
    }
  }
  
}


@media (max-width: 1104px) {

  .login {
    display: table;
    clear: both;
    width: 100%;

    &_container {
      width: 70%;
      height: 30rem;
      margin-top: 10rem;
    }
    
  .login-border-right {
    border: none;
  }
  .title-support {
    display: none;
  }
  .text-support {
    display: none;
  }
  }
}
//end viewport with tablet